DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=veterinaria_db
DATABASE_USER=veterinaria_user
DATABASE_PASSWORD=cambia_esta_password

JWT_SECRET_KEY=cambia_esta_clave_secreta
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
JWT_REFRESH_EXPIRE_DAYS=7
